<div class="container-fluid d-flex">

    <div class="col-4 mx-3">
        <h2>Formulario Estudiante</h2>
        <form [formGroup]="estudiantesForm" (ngSubmit)="onSubmit()">
            <div class="form-group mt-2">
                <label for="cedula">Cédula:</label>
                <input id="cedula" formControlName="cedula" class="form-control" type="text" />
                <div *ngIf="estudiantesForm.get('cedula')?.invalid && estudiantesForm.get('cedula')?.touched"
                    class="text-danger">
                    La cédula es obligatoria y debe tener 10 dígitos.
                </div>
            </div>

            <div class="form-group mt-2">
                <label for="nombre">Nombre:</label>
                <input id="nombre" formControlName="nombre" class="form-control" type="text" />
                <div *ngIf="estudiantesForm.get('nombre')?.invalid && estudiantesForm.get('nombre')?.touched"
                    class="text-danger">
                    El nombre es obligatorio.
                </div>
            </div>

            <div class="form-group mt-2">
                <label for="apellido">Apellido:</label>
                <input id="apellido" formControlName="apellido" class="form-control" type="text" />
                <div *ngIf="estudiantesForm.get('apellido')?.invalid && estudiantesForm.get('apellido')?.touched"
                    class="text-danger">
                    El apellido es obligatorio.
                </div>
            </div>

            <div class="form-group mt-2">
                <label for="sexo">Sexo:</label>
                <select id="sexo" formControlName="sexo" class="form-control">
                    <option value="">Seleccionar</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                </select>
                <div *ngIf="estudiantesForm.get('sexo')?.invalid && estudiantesForm.get('sexo')?.touched"
                    class="text-danger">
                    El sexo es obligatorio.
                </div>
            </div>

            <div class="form-group mt-2">
                <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                <input id="fechaNacimiento" formControlName="fechaNacimiento" class="form-control" type="date" />
                <div *ngIf="estudiantesForm.get('fechaNacimiento')?.invalid && estudiantesForm.get('fechaNacimiento')?.touched"
                    class="text-danger">
                    La fecha de nacimiento es obligatoria.
                </div>
            </div>

            <button type="submit" class="btn btn-dark mt-2" [disabled]="estudiantesForm.invalid">Agregar
                Estudiante</button>
        </form>

    </div>

    <div class="col-8 d-flex flex-column align-items-center mx-3">
        <!-- Primera tabla -->
        <div class="table-responsive mb-4" style="width: 100%;">
            <h2>Usuarios permitidos a prestamos</h2>
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Sexo</th>
                        <th>Nacimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let estudiante of estudiantestrue">
                        <td>{{ estudiante.cedula }}</td>
                        <td>{{ estudiante.nombre }}</td>
                        <td>{{ estudiante.apellido }}</td>
                        <td>{{ estudiante.sexo }}</td>
                        <td>{{ estudiante.fechaNacimiento | date: 'EEEE, d MMMM yyyy' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Segunda tabla -->
        <div class="table-responsive" style="width: 100%;">
            <h2>Usuarios no permitidos a prestamos</h2>
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Sexo</th>
                        <th>Nacimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let estudiante of estudiantesfalse">
                        <td>{{ estudiante.cedula }}</td>
                        <td>{{ estudiante.nombre }}</td>
                        <td>{{ estudiante.apellido }}</td>
                        <td>{{ estudiante.sexo }}</td>
                        <td>{{ estudiante.fechaNacimiento | date: 'EEEE, d MMMM yyyy' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>